//color pattern
$color-folk-black: #000;
$color-folk-white: #FFF;


$color-folk-aluminium: #828690;
$color-folk-cyan-blue: #265877;
$color-folk-dark-blue: #0B2139;
$color-folk-dark-grayish-navy: #232733;
$color-folk-extra-light-gray: #F7F3EF;
$color-folk-extrabold-electric-blue: #151921;
$color-folk-golden: #E9B53D;
$color-folk-gray: #5B5B5B;
$color-folk-light-blue: #255777;
$color-folk-light-gray: #B4B8C3;
$color-folk-medium-electric-blue: #00539B;
$color-folk-very-dark-blue: #173B57;

$color-folk-facebook: #2059B7;
$color-folk-instagram: #58A1B9;
$color-folk-youtube: #DD4220;