$layout-name: 'l-top';

.#{$layout-name} {
    background-image: linear-gradient(to right, $color-folk-dark-blue 50%, $color-folk-light-blue 50%);

    @media screen and (max-width: 991px) {
        background-image: linear-gradient(to right, $color-folk-light-blue 50%, $color-folk-light-blue 50%);
    }

    &__item {
        position: relative;

        @media screen and (max-width: 575px) {
            width: 50%;
            max-width: 100%;
            flex: 0 0 50%;
        }

        &:nth-of-type(1) {
            background-color: #0B2139;
        }

        &:nth-of-type(2) {
            background-color: #112D47;
        }

        &:nth-of-type(3) {
            background-color: #173B57;
        }

        &:nth-of-type(4) {
            background-color: #1F4B67;
        }

        &:nth-of-type(5) {
            background-color: #255777;
        }

        &::before {
            content: '';
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            transition: all .4s;
            position: absolute;
            background-color: $color-folk-golden;
        }

        &:hover {
            &::before {
                height: 100%;
            }
        }
    }

    &__link {
        position: relative;
        z-index: 1;
    }
}